.themeLocal {
  --bg-main-light: #fff;
  --bg-secondary-light: #f7f7f7;
  --border-light: #21349b;
  --text-light: #21349b;
  --main-light: #21349b;
  --input-border-light: #808080;
  --input-text-light: #303030;
  --input-icon-active: #43E043;
  --btn-bg-light: #21349b;
  --btn-text-light: #fff;
  --btn-bg-light-hover: #fff;
  --btn-text-light-hover: #21349b;
  --user-text-light: #303030;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-secondary-light);
  padding: 30px;
  min-height: 100vh;
}

:global(html.dark) .container {
  background-color: #292929;

}

.feedWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 960px; 
  width: 100%;
  background-color: var(--bg-main-light);
  border-radius: 10px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 30px;
}

:global(html.dark) .feedWrapper {
  background-color: #292929;

}

.card {
  background-color: var(--bg-main-light);
  border: 1px solid var(--border-light);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

:global(html.dark) .card {
    background-color: #292929;
     border: 1px solid #DCDCDC;
}

.card:hover {
  transform: scale(1.02);
}

.cardHeader h2 {
  color: var(--text-light);
  font-size: 18px;
  margin-bottom: 8px;
  text-align: center;
}


:global(html.dark) .cardHeader h2 {
  color: #DCDCDC;
}

.cardCategory {
  font-size: 14px;
  color: var(--input-text-light);
  text-align: center;
  margin-bottom: 15px;
}


:global(html.dark) .cardCategory {
  color: #DCDCDC;
}

.cardButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: auto;
}

.button {
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid var(--main-light);
  background-color: var(--btn-bg-light);
  color: var(--btn-text-light);
  transition: all 0.2s ease;
}

:global(html.dark) .button {
background-color: #21349B;
border: #404040;
color: #8DB2E5;
}


.button:hover {
  background-color: var(--btn-bg-light-hover);
  color: var(--btn-text-light-hover);
}

:global(html.dark) .button:hover {
  background-color: #292929;
}

.buttonDelete {
  background-color: #e04343;
  border-color: #e04343;
  color: white;
}

:global(html.dark) .buttonDeLete {
  color: white;
}


.buttonDelete:hover {
  background-color: #fff;
  color: #e04343;
  border-color: #e04343;
}

.searchBar {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  padding-top: 0.8rem;

}

.searchInput {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  border: 1px solid #ccc;
}


@media (max-width: 960px) {
  .feedWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .feedWrapper {
    grid-template-columns: 1fr;
  }
}
