header {
  background: #213499;
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  justify-content: space-between;
}

header a {
  color: white;
  text-decoration: none;

}

header a:hover,
header a.active {
  color: #ffd200;
  border-bottom: 3px solid #ffd200;
}

ul {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  list-style: none;
  padding-right: 2rem;
  margin: 0;
}